/* Font Face Declarations */
@font-face {
    font-family: 'Work Sans Bold';
    src: url('assets/fonts/static/WorkSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans Regular';
    src: url('assets/fonts/static/WorkSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Work Sans SemiBold';
    src: url('assets/fonts/static/WorkSans-SemiBold.ttf') format('truetype');
}

/* Global Styles */
body {
    font-family: 'Work Sans SemiBold', sans-serif;
    background-color: hsl(275, 100%, 97%);
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 25vh;
    color: hsl(292, 42%, 14%);
}

/* Header Styles */
.header {
    display: flex;
    align-items: center;
}

.star-icon {
    margin-right: 20px;
}

/* Title Styles */
.title__accordion {
    font-family: 'Work Sans Bold', sans-serif;
    color: hsl(292, 42%, 14%);
    font-size: 50px;
}

/* Question Styles */
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.question:hover .title__question {
    color: hsl(280, 86%, 55%);
}

/* Answer Styles */
.answer {
    display: none;
}

.answer {
    font-family: 'Work Sans Regular', sans-serif;
    font-size: 16px;
    color: hsl(292, 16%, 49%);
    padding-bottom: 1rem;
}

/* Accordion Styles */
.question-answer__accordion {
    border-bottom: 1px solid hsl(275, 100%, 97%);
}

/* Wrapper Styles */
.wrapper {
    background: white;
    border-radius: 15px;
    max-width: 600px;
    width: 90%;
    padding: 2rem;
    margin: 2rem auto;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    z-index: 1;
    position: relative;
}

/* Media Queries */
@media (min-width: 1440px) {
    body {
        background-size: cover;
        background-position: center top;
    }
}

@media (max-width: 767px) {
    body {
        background-image: url('./assets/images/background-pattern-mobile.svg');
        background-size: cover;
        background-position: top center;
    }
}
